h1.page-header {
    color: #001A44;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 2px;
    text-align: left;
    font-family: Corbel;
    border-bottom: 2px solid #2065ff;
    font-weight: bold;
    margin-top: 10px;
}
.contenidos{
	color: #001A44;
    font-size: 3em;
    text-transform: uppercase;
    padding-bottom: 2px;
    font-family: 'Bellefair', serif;
    text-align: left;
    

}

.requisitos{
	color: #001A44;
    font-size: 1.5em;
    font-family: Verdana, serif;
    text-align: justify;
    
}
}

