.contenidos{
	color: #001A44;
    font-size: 3em;
    text-transform: uppercase;
    padding-bottom: 2px;
    font-family: 'Bellefair', serif;
    text-align: center;
    border-bottom: 2px solid #2065ff;

}

.parrafo{
	color: #001A44;
    font-size: 1em;
    font-family: Verdana, serif;
    text-align: justify;
}

